<ul class = "nav">
  <li><a href="main"> Main </a> </li>
  <li><a href="tricktips"> TrickTips </a> </li>
  <li><a href="channels"> Channels </a> </li>
</ul>


<div class="channelsback">
  <h1>Channels</h1>
</div>


<p> YouTube channels that I recommend <p>

<ul class = "chanlist">
  <li><a href="https://www.youtube.com/user/theberrics" target="_blank"> The Berrics </a> </li>
  <li><a href="https://www.youtube.com/user/stillwater33clavel" target="_blank"> E. Clavel </a> </li>
  <li><a href="https://www.youtube.com/user/StreetLeague" target="_blank"> SLS (Street League Skateboarding) </a> </li>
</ul>
