$def with (content)

<html>
<head>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <title> Skate </title>



</head>
<body>

$:content



</body>
</html>




<!--
This file looks like a regular template,
except that it's going to be passed the
contents of the other templates and used to wrap them.
Anything you put in here
doesn't need to be in the other templates.
-->
