<ul class = "nav">
  <li><a href="main"> Main </a> </li>
  <li><a href="tricktips"> TrickTips </a> </li>
  <li><a href="channels"> Channels </a> </li>
</ul>

<div class="tricktipsback">
  <h1>Trick Tips</h1>
</div>


<p> The Ollie </p>


<div class = "Ollie">
  <h1>
  Step 1 - Push down on the tail all the way to the ground, then drag your
  <br/>
  front foot to the top of the nose, while keeping your front foot's ankle at
  <br/>
  an angle. Then bring your front wheels down back to the ground.
  <br/>
  Get used to this motion.
  <br/>
  <br/>

  Step 2 - Now do the motion in step one simultaneously.
  <br/>
  Make sure you pop the tail, instead of just putting on the ground stationary.
  <br/>
  As you pop, pick that back foot up so the board has room to lift.
  <br/>
  The front foot should be dragging the board in an upward diagonal motion.
  You don't have to land it on both of your feet for now, but start landing it
  with one foot first, then the other, then land with both both feet.

  <br/>
  <br/>
  Step 3 - As you get better and better at this trick, try doing a ninja ollie,
  where you stick out the nose of the board, which enables you to do a even higher ollie.
  Check out the link below for a clip of a ninja ollie

  </h1>

<li><a href="https://www.youtube.com/watch?v=Pijsl4ppwXQ" target="_blank"> Ninja Ollie </a> </li>
